.waiterLevelReportPage {
  height:           100vh;
  width:            calc(100% - 220px);
  margin-left:      220px;
  background-color: #fdf7f9;
  overflow:         hidden;
  * {
    font-weight: 600;
    font-size:   14px;
  }
  .icon {
    height: 16px;
    width:  16px;
  }
  .content {
    height:   88vh;
    overflow: scroll;
  }
  .waiter {
    border:           1px solid #D9D0F5;
    border-radius:    12px;
    padding:          24px;
    background-color: #fff;
    margin-bottom:    12px;
  }
  .top {
    display:         flex;
    justify-content: space-between;
    margin-bottom:   12px;
    .account {
      display: flex;
      img {
        height:        40px;
        width:         40px;
        border-radius: 50%;
        margin-right:  12px;
      }
      div {
        display:         flex;
        flex-direction:  column;
        justify-content: space-between;
        p:nth-child(2) {
          font-weight: 500;
          font-size:   12px;
        }
      }
    }
    .rating {
      display: flex;
      p {
        margin-left: 8px;
        color:       #737373;
        font-weight: 500;
      }
    }
  }
  .data {
    display:       flex;
    background:    #F8F5FF;
    padding:       16px 0;
    border-radius: 8px;
    div {
      width:          14%;
      display:        flex;
      flex-direction: column;
      align-items:    center;
      &:not(&:last-child) {
        border-right: 1px solid #E5E5E5;
      }
      h3 {
        font-size:   10px;
        font-weight: 400;
      }
    }
  }
}