* {
  font-family:                 'Nonito', sans-serif;
  outline:                     none;
  box-sizing:                  border-box;
  margin:                      0;
  padding:                     0;
  color:                       black;
  -webkit-tap-highlight-color: transparent;
}

img, svg, iframe, video {
  width: 100%;
}

html,
body {
  height: 100%;
  width:  100%;
}

body {
  display:        flex;
  flex-direction: column;
  min-height:     100%;
}

section {
  position: relative;
}

button {
  cursor:      pointer;
  transition:  .3s linear;
  user-select: none;
}

a {
  text-decoration: none;
  cursor:          pointer;
}

.container {
  width:     100%;
  max-width: 2500px;
  padding:   0 15px;
}

li {
  list-style: none;
  padding:    0;
}

.select, select {
  cursor: pointer;
}